html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background: #fff;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0px 5px rgba(0,0,0,.5);
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}


p{
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
}

.filter {
  margin: 0px auto;
   margin-left: 42%;
   margin-top: 8px;
   margin-bottom: 8px;
  }

.badge {
  background-color: #66c3d1;
}