html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background: #fff;
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.chat-header{
  height: 200px;
  width: 100%;
  background: #ccc;
  box-shadow: 0 0px 5px rgba(75,75,75,.9);
  background: url(http://i306.photobucket.com/albums/nn261/mickleigh11/DevMountain/ChatRoom_zpsrnlbxgbg.jpg) no-repeat;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   margin-top: 10px;

}

.chat-header, .main, .nav, .aside, .footer {
  flex:
}
.main-container {
  width: 75%;
  height: 100%;
  margin: 100px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 4px;
  flex-flow: row wrap;
}


.main-container h1 {
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
}
.filter {
  margin: 0px auto;
   margin-left: 38%;
   margin-top: 8px;
   margin-bottom: 20px;
  }

.messages-top {
  background-color: #e1e1e1;
  width: 100%;
  height: 40px;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center; 
   text-align: center;
   font-family: 'Raleway';
   font-weight: bolder;
   font-size: 16px;
}

.messages-container {
  margin-top: 20px;
  overflow: auto;
  box-shadow: 0 0px 5px rgba(64,74,136,.5);
  padding-bottom: 20px;
}
.text-box {
  margin: 0px auto;
  width: 40%;

  }

h1 {
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

p{
  text-align: wrap;
  margin: 3px 0;
  font-size: 15px;
  font-family: 'Raleway';
  padding-left: 10px;
  margin: 5px;
}

.filter {
  margin: 0px auto;
   margin-left: 38%;
   margin-top: 8px;
   margin-bottom: 20px;
  }

.badge {
  background-color: #66c3d1;
  text-align: right;

}

.chat-footer {

  height: 40px;
  width: 100%;
   background-color: #989898;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   margin: auto;
   border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 0px 5px rgba(75,75,75,.5);
  transition: all 2s ease;
}

.chat-footer:hover {
    height: 55px;
    background-color: #989898;
  }

a {
  color: #fff;
}